* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    overflow: hidden;
}

@font-face {
    font-family: Optima;
    src: url("./OPTIMA.TTF");
}

.webcanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: #C0BFBF;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav #yushan {
    color: #00a19c;
}

nav .redbull-icon {
    width: 6rem;
    height: 8rem;
    margin-top: -3.2rem;
    /* border: 2px solid yellow; */
}

nav a {
    text-decoration: none;
    color: #C0BFBF;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}

nav ul span {
    background: #E21B4D;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    color: #FFF;
    font-family: "Courier New";
}

.title {
    color: #fff;
    z-index: 2;
    position: absolute;
    font-size: 5rem;
    opacity: 0.8;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -25%);
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}